.wrapp {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0px auto;
}

/*.reroadButton{
    width:40px;
    height:40px;
}*/
.status_bar {
    height: 20px;
}

h1 {
    color: red;
}

html,body {
    margin: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.index_bg {
    background-image: url('../image/background.JPG');
    background-size: cover;
}

img {
    width: 380px;
    height: 700px;
    z-index: 0;
}

.recieve {
    position: absolute;
    width: 180px;
    bottom: 190px;
    font-size: 1.5em;
    display: inline-block;
    padding: 20px;
    margin-bottom: 10px;
    background: #668ad8;
    color: #FFF;
    border: initial;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    z-index: 1;
}

#street-view {
    height: 100%;
    /*display: inline;*/
}

#reload {
  position: absolute;
  bottom: 30px;
  z-index: 999;
   
}
/*更新ボタン*/
.reload_button {
  bottom: 20px;
  width: 60px;
  height: 60px;
 
}


#back {
  position: absolute;
  bottom: 100px;
  z-index: 999;
   
}
/*更新ボタン*/
.back_button {
  bottom: 20px;
  width: 60px;
  height: 60px;
 
}



